/* #57321a
#a8cde5
#c7c7c7 */

/* #e3dad4 */

:root{
 --main:#57321a;
 --sec:#c7c7c7;
 --blue:#a8cde5;
}


body{
    background-color: #57321a;
    direction: rtl;
}

:root{
    --fonts:#545454;
    --star:#f1e03e
}

.cards{
    width: 280px;
    background-color: #fffaf5;
    text-align: right;
    color: #545454;
    padding: 10px;
}
.cards_img{
    width: 100%;
    height: 200px;
}
.cards_desc{
    width: 100%;

}
.cards_title{

}
.cards_matn{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.cards_vote{
    color: gray;
}
.cards_icons{
    color: #f1e03e;
    float: left;
}





.service_cards{
    text-align: center;
    width: 212px;
}



.prodact_cards{
    width: 280px;
    background-color: #fffaf5;
    text-align: right;
    color: #3d2513;
    padding: 10px;
}
.prodact_cards_title{
    margin-bottom: 0;
}
.prodact_cards_img{
    width: 100%;
    height: 250px;
}
.prodact_cards_desc{
    width: 100%;
    display: grid;
}
.prodact_cards_matn{
    margin-bottom: 0.5em;
}
.prodact_cards_price{
    margin: 8px 0 16px;
}
.prodact_cards_btn{
    background-color: #714d37;
    color: aliceblue;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}


.prodact_cards_sale{
    width: 250px;
    background-color: #fffaf5;
    text-align: right;
    color: #3d2513;
    padding: 10px;
}
.prodact_cards_sale_title{
    margin-bottom: 0;
}
.prodact_cards_sale_img{
    width: 100%;
    height: 250px;
    margin: -135px 0 0px;
}
.prodact_cards_sale_desc{
    width: 100%;
    display: grid;
}
.prodact_cards_sale_matn{
    margin-bottom: 0.5em;
}
.prodact_cards_sale_price{
    margin: 8px 0 16px;
}
.prodact_cards_sale_btn{
    background-color: #714d37;
    color: aliceblue;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}